.about {
  h1 {
    margin: 0%;
  }
  h2 {
    margin: 0%;
  }
  p {
    line-height: 40px;
    font-size: 2rem;
    margin: 0%;
    margin-bottom: 0.6rem;
  }
  .pOne {
    text-align: left;
  }
  .pTwo {
    text-align: right;
  }
  .pThree {
    text-align: left;
  }
  .pFour {
    text-align: right;
  }
}
