$nav-color: #dcd9c6;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;
$black-colorLighter: #535355;
//Folio Colors
$bright-orange: #ffd166;
$banana: #f7e3af;
$bananaDim: #f7e3af2f;
$oceanGreen: #61c9a8;
$oceanGreenDim: #61c9a88e;
.tags {
  width: fit-content;
  text-align: left;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 100;
  color: $black-colorLighter;
  margin: 0px;
}
.innerTags {
  width: fit-content;
  text-align: left;
  font-size: 1rem;
  font-family: monospace;
  font-weight: 100;
  color: $bright-orange;
  margin: 0px;
  padding-left: 2rem;
}
.objTitle {
  margin: 0%;
  font-family: monospace;
  font-weight: 100;
  color: $oceanGreenDim;
}
.container {
  border: 1px solid $bananaDim;
  margin: 0rem;
  padding: 0.6rem;
}
.topBox {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillBox {
  width: 8%;
  margin: 0rem 1.5rem;
  object {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
    color: $nav-color;
    margin: 0px;
  }
}
