$nav-color: #dcd9c6;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;

#container {
  width: 0rem;
  height: 3rem;
  padding: 0.6rem 0rem;
  color: $black-color;
  transition: all ease 0.5s;
  z-index: 5;
  h1 {
    text-align: center;
    margin: 0%;
    height: fit-content;
    width: fit-content;
    transition: all ease 0.3s;
    transform: rotate(45deg);
  }
  h1:hover {
    transform: rotate(0);
    transition: all ease 0.3s;
    cursor: pointer;
  }
  ul {
    margin: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    li {
      text-align: left;
      margin: 0%;
      font-size: 2rem;
      transition: color ease 0.3s;
    }
    li:hover {
      cursor: pointer;
      color: $active-color;
    }
  }
}
#container.hide {
  overflow: hidden;
  color: transparent;
}
#container.show {
  overflow: hidden;
  width: 50rem;
}
