$nav-color: #dcd9c6;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;

#layerOne {
  // border: 3px solid black;
  padding: 0rem;
  fill: $black-color;
  margin: 0%;
  margin-left: 4rem;
  // width: 800px;
  // height: 800px;
}
