$flower-color: #c7c4a8b4;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;

#layerOne {
  margin-left: -10rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 0rem;
  fill: $flower-color;
  margin: 0%;
  height: 100vh;
  width: 100vw;
  z-index: -300;
}
