@import url(https://fonts.googleapis.com/css?family=Great+Vibes:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
$nav-color: #dcd9c6;
$hover-color: #556f7a;
$active-color: #c97064;
$black-color: #1b1924;
$black-colorLighter: #535355;
//Folio Colors
$bright-orange: #ffd166;
$banana: #f7e3af;
$bananaDim: #f7e3af2f;
$oceanGreen: #61c9a8;
.view {
  overflow-y: scroll;
  background-color: $black-color;
  position: fixed;
  width: 100vw;
  height: 100vh;
  .tags {
    width: fit-content;
    font-size: 2rem;
    font-family: Great Vibes;
    font-weight: 100;
    color: $black-colorLighter;
    padding: 10px;
    margin: 0px;
  }
  .codeJoke {
    border: 1px solid $bananaDim;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
    width: fit-content;
    padding: 1rem;
    margin: 0px auto;
    color: $oceanGreen;
  }
}
